
- Workflow Steps
	- Steps and Actions
		- definition of steps and actions
	- Validations
		- definition of validations per action
		- validations must be action specific. For example, if the selected action is to reject the record, there is no need to verify anything.
	- The workflow must provide steps for automated actions
		- send emails
		- run integrations
		- Exponential Back-Off
		- Rate Limiting
		- ... etc

- Transactional Processing
	- The system must allow for transactional processing
		- What kind of transactional processing??
			- Regular Single-Phase Transactions
			- Two-Phase Transactions
			- Saga Pattern
	- The system must allow for a balance sheet like functionality
		- Similar to SOV in Unifier
		- Similar to a booking calendar
		- Similar to seat availablity on air-planes
		- This requires transactional processing


- The system must provide the capability to take decisions on workflow tasks according to the below approaches
	- Single Action (one assignee takes action)
	- Majority
	- Consensus

- The system must provide the capability to allow multiple data entries on tasks
	- For example, if the task is enter an estimate value, the system must capture different values entered by multiple people which can later be used to assess the quality of the estimate or have multiple estimates for the same task.
	- This requirement might require certain considerations in the datamodel design.
	- This can potentially be implemented as a seperate Process with a seperate workflow (maybe sub-worflow)
	- Tasks in this case can be also be terminated if they are no longer relevant.
