
- Workflow Steps
	- Steps and Actions
		- definition of steps and actions
	- Validations
		- definition of validations per action
		- validations must be action specific. For example, if the selected action is to reject the record, there is no need to verify anything.
	- The workflow must provide steps for automated actions
		- Update or create other records
			- must allow access to the source record data (before and after the action)
		- send emails
		- run integrations
		- Exponential Back-Off
		- Rate Limiting
		- ... etc


- Workflow engine must provide the following peculiar functionality
	- Sometimes the approvals required for a certain document are not fixed in terms of number of approvers. The workflow engine must allow for an approval path with a dynamic length.

- Transactional Processing
	- The system must allow for transactional processing
		- What kind of transactional processing??
			- Regular Single-Phase Commit Transactions
			- Two-Phase Commit or Multi-Phase Commit Transactions
			- Saga Pattern
	- The system must allow for a balance sheet like functionality
		- Similar to SOV in Unifier
		- Similar to a booking calendar
		- Similar to seat availablity on air-planes
		- This requires transactional processing


- The system must provide the capability to take decisions on workflow tasks according to the below approaches
	- Single Action (one assignee takes action)
	- Majority
	- Consensus

- The system must provide the capability to allow multiple data entries on tasks
	- For example, if the task is enter an estimate value, the system must capture different values entered by multiple people which can later be used to assess the quality of the estimate or have multiple estimates for the same task.
	- This requirement might require certain considerations in the datamodel design.
	- This can potentially be implemented as a seperate Process with a seperate workflow (maybe sub-worflow)
	- Tasks in this case can be also be terminated if they are no longer relevant.


- If at any point it's deemed necessary to build automation capability similar to the one provided by AirTable, the option to access values from records before/after action is needed.
	- This is necessary due to the fact that certain automations require the value from the record before the action was taken.
		- For example, removing the assigned parent of a task requires updates to remove the current task from the parent's children list.

- The system must provide warnings for workflow steps that have no active members


- Dynamic Workflow Paths (approval paths changes based on record type or RPO)
- Automatic unlocking for tasks held by users with no action
- Automatic reassignement if employee is on leave
- Automatic escalation if duration is exceeded
