- The workflow engine must be built as a javascript library.
- From here on, the library will be referred to as the system.
- All URLs/links in the system must be shareable, long-lasting, and reachable if the user has the proper access.
- The system must provide cell URLs such that the user can share a link to point out a specific cell in a record.
- The system must provide Single-Sign-On capability.
- The system must provide HTML embeddable views capability.
- The system must provide the capability for external collaborators to create/modifiy records download/upload files.
	- public
	- password
	- Restricted to email domain
	- Restricted to specific email addresses or phone numbers
		- authenticated through tokens sent to email or phone numbers
- The system must provide the capability to restrict access to specific IPs or IP ranges for groups of Users.
- The system must provide MFA capability that can be configured by Admins.
- The system must provide the capability to restrict session time, session timeout.
- The system must somehow provide a mechanism to identify resource availablity.
	- For example, if a user is trying to book a room, the system must provide a mechanism to check if the room is available.
	- Another example, if an employee is on leave, the system must provide a mechanism to reassign his work to someone else.
		- Access control alone is not sufficient for this.
	- These two examples pertain to two different parts of the requirements.
		- one is related to access control
		- the other is related to resource availability
		- other examples like SOV, Booking Calenders, Budget control
		- Most of these examples are specifically concerned about the availability of a certain resource.
		- However, we should also think about think about this functionality in terms of mutual exclusion or as a locking mechanism.

- The system must provide automatic translation capability with the option to revise the translated text for everything in the system.
	- This functionality must be support by AI/ML models that can handle multiple languages.
- The system must provide a federated search capability that searches across all records and attached files in the system.
- The system must support multiple languages.
- The system must provide the capability to change the view from LTR to RTL for Arabic Support.


- The library must provide functions to create its own datamodel inside a database as per the developers choosing
	- The developer might choose a separate database for the datamodel of the library
	- The developer might choose a separate schema for the datamodel of the library


- The system must provide real-time (multiplayer) collaboration capability.

- The system must allow for records to be exported to excel and imported again to create new records
- The system must allow for records to be exported to excel and imported again to update the records


- The system must provide functionality to provide digitally signed documents
	- This functionality must also allow integration with 3rd party service providers
		- A third party service provider can play the role of a witness in this case. Therefore, even if the system provides this capability, the use of third-party vendor might still be required.

- The system must provide native visualization and charting capability to build dashboards and reports in the same platform.

- The system must provide the capability to create wizards
	- This is needed for a guided record creation
	- This is needed to guide action and updates on records at a workflow step
