- The workflow engine must be built as a javascript library.
- From here on, the library will be referred to as the system.

- The library must provide functions to create its own datamodel inside a database as per the developers choosing
	- The developer might choose a separate database for the datamodel of the library
	- The developer might choose a separate schema for the datamodel of the library


- The system must provide real-time (multiplayer) collaboration capability.

- The system must allow for records to be exported to excel and imported again to create new records
- The system must allow for records to be exported to excel and imported again to update the records


- The system must provide functionality to provide digitally signed documents
	- This functionality must also allow integration with 3rd party service providers
