- The library must provide functions to create/modify/delete Forms
	- Forms must contain blocks
	- Blocks contain fields
	- What fields will be read-only, editable, or required is not the concern of the functionality of form management
	- fields
		- field can auto-populate from other records
			- there has to be an option for specify if the auto-population is live, dead-on-arrival, or dead-on-condition
	- views for the logs of the records


- Custom Prints
	- The system must provide the capability to create custom prints
	- Custom prints must be built with blocks similar to forms
	- Design of blocks must be generic and resuable
	- Blocks must be dynamic as per the data it receives
	- Custom prints must allow exporting to Excel, Word, PDF ... etc.


- Another Shortcoming in Unifier is the use of Custom Prints
	- Custom Prints is merely a different design for the view of the record
	- They are simply a different form design that is more print-friendly.


- Types of Data and Data Structures (these also require certain considerations in the design of the datamodel)
	- The system must allow for creation of tables/lineitems in a form.
	- Lineitems can be viewed in the record as tables or as tab that shows them as records on their own.
	- The system must allow for multi-leveled record creation in the form of parent-child relationship.
		- This allows establishing trees and hierarchies.
		- The system must also allow visualizaing this type of records as trees
	- The system must allow for mind-map structures
	- The system must allow for graph structures
	- The system must allow for interactive maps (like google maps).
	- The system must provide alternate views for the register/sheet
		- For example, if I want to view the record like a ticketing system (say Zoho Desk), the fields of the record should be shown on the side.
	- The system must provide multiple options for view of the log of the register/sheet
		- example Zoho Desk
			- View can be set to show the record field on the side
			- The main body of the record shows email threads
	- The system must allow for linking the records with email threads
	- The system must provide the capability to capture data in pivot-table format
