
- Fields Definition
	- Field Names can be changed
		- How will dataviews deal with name changes?
	- The system must allow for fields to have formula
		- The system must allow for bi-directional formulas
			- 3 fields (or more) all have formula
			- input values in first n fields, the last will be calculated by the formula
			- the oldest updated field will be set to formula if a new field is updated manually
		- Formulas can have any of the following logic
			- Arithmetics: +,-,*,/,^,log ... etc
			- logical operators such as: and, or, not, xor, xnor ... etc
			- if conditions such as: if, else if, else
			- conditionals such as >,<,>=,<=,=,!= ... etc
			- Date arithmatics and conditionals
			- String operations: substring, concatenate, split ... etc
			- Lookup functions??
			- Rollup fields (for lineitems/sub-records)
